.container {
    margin-top: 100px;
    margin: 200px auto;
}
.box {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
    padding: 5px;
}
.box:nth-of-type(2n) {
    background-color: #f7db6a;
}
.box:nth-of-type(3n) {
    background-color: #ebb02d;
}
/* TRANSFORM */
#one {
    transform: rotate(45deg);
}
#two {
    transform: scale(0.8);
}
#three {
    transform: translateX(-100px);
}
#four {
    transform: skew(-30deg);
}
#five {
    transform: rotate(30deg) translateX(150px);
}