.section {
    height: 200px;
    width: 70px;
    border: 2px solid #000000;
}
.floor01 {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    background-color: red;
    border-radius: 50%;
}
.floor02 {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    background-color: yellow;
    border-radius: 50%;
}
.floor03 {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    background-color: green;
    border-radius: 50%;
}