* {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: #1b74e4;
}
.userbtn {
    background-color: rgb(18, 253, 253);
}
#searchbtn {
    background-color: #000000;
    color: #ffffff;
}
