.container {
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
}
.container div {
    background-color: rgb(217, 135, 149);
    font-size: 1.5rem;
}
.header {
    grid-column: 1 / span 12;
}
.sidebar {
    grid-row: 2 / span 10;
    grid-column: 1 / span 3;
}
.navigation {
    grid-column: 4 / span 6;
}
.ads {
    grid-column: 10 / span 3;
    grid-row: 2 / span 10;
}
.main {
    grid-column: 4 / span 6;
    grid-row: 3 / span 9;
}
.footer {
    grid-column: 1 / span 12;
}
@media (max-width: 720px) {
    .header {
        grid-column: 1 / span 12;
    }
    .navigation {
        grid-column: 1 / span 12;
        grid-row: 2;
    }
    .sidebar {
        grid-column: 1 / span 3;
        grid-row: 3 / span 9;
    }
    .main {
        grid-column: 4 / span 9;
        grid-row: 3 / span 9;
    }
    .ads {
        grid-column: 1 / span 3;
        grid-row: 12;
    }
    .footer {
        grid-column: 4 / span 9;
    }
}