.container {
    height: 400px;
    width: 400px;
    border: 2px solid aqua;
    margin: 10px auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}
.box 
{
    background-color: grey;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    flex-direction: row;
    flex-basis: 100px;
    font-size: 50px;
    padding: 5px;
}
.navbar {
    height: 50px;
    width: 900px;
    background-color:pink;
    border:2px solid lightseagreen;
    border-radius: 10px;
    display:flex;
    justify-content: flex-start;
    align-content: center;
}
.content {
    height: 50px;
    width: 80px;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 5px;
    line-height: 50px;
}