div {
    height: 300px;    
    width: 200px;
    background-color: #b27b29;
    border-width: 5px;
     border-style: solid;
     border-color: black;
}
h1 {
    border-color: green;
    border-style: dashed;
    border-width: 2px;
}